@use 'common' as *;

.logo {
  &Wrap {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img,
    svg {
      object-fit: contain;
      width: 100%;
    }

    @include TabletDown {
      padding-bottom: 2.25em;
    }

    @include Desktop {
      &:hover {
        .logoUpdate {
          opacity: 100;
        }
      }
    }
  }

  &Update {
    position: absolute;
    bottom: 0;

    @include Desktop {
      opacity: 0;
      right: 0;
    }
  }
}

.synopsis {
  @include Desktop {
    &:hover {
      .synopsisUpdate {
        opacity: 100;
      }
    }
  }

  &Header {
    display: flex;
    justify-content: space-between;


  }

  &Update {
    padding-bottom: .5em;
    color: $primary !important;

    @include Desktop {
      opacity: 0;
    }
  }
}