@use 'colors' as *;

.textArea {
  &-container {
    align-items: center;
    display: flex;
    position: relative;
  }

  &-input {
    font-weight: 400;
    box-sizing: border-box;
    font-size: 16px;
    padding: 15px 10px;
    resize: none;
    width: 100%;

    &_disabled {
      background-color: transparent;
      border: none;
    }

    &::placeholder {
      color: $host-purplegray60;
    }

    &_withError {
      background-color: rgba($host-red, .2);
      border-color: $host-red;

      &::placeholder {
        color: $host-red;
      }
    }

    &:hover {
      border-color: var(--primary50);
    }
  }
}