// brand colors 
$SEOPerfect: #E63946;
$contentPerfect: #D14124;
$preferencesPerfect: #9dc450;
$productPerfect: #235789;
$classifyPerfect: #ffd900;
$imagePerfect: #EF476F;
$factcheckPerfect: #179BAE;
$redirectPerfect: #999948;
$indexPerfect: #f59f3c;
$synopsisPerfect: #8b59ad;
$voicePerfect: #6699CC;
$pagePerfect: #666699;
$socialPerfect: #CC6699;
$dark: #212529;
// f59f3c

// localized colors
$primary: #E63946 !default;
$secondary: #333333 !default;

.text-SEOPerfect {
  color: $SEOPerfect !important;
}

.text-contentPerfect {
  color: $contentPerfect !important;
}

.text-preferencesPerfect {
  color: $preferencesPerfect !important;
}

.text-productPerfect {
  color: $productPerfect !important;
}

.text-classifyPerfect {
  color: $classifyPerfect !important;
}

.text-imagePerfect {
  color: $imagePerfect !important;
}

.text-factcheckPerfect {
  color: $factcheckPerfect !important;
}

.text-redirectPerfect {
  color: $redirectPerfect !important;
}

.text-redirectPerfect {
  color: $redirectPerfect !important;
}

.text-indexPerfect {
  color: $indexPerfect !important;
}

.text-synopsisPerfect {
  color: $synopsisPerfect !important;
}

.text-voicePerfect {
  color: $voicePerfect !important;
}

.text-pagePerfect {
  color: $pagePerfect !important;
}

.text-socialPerfect {
  color: $socialPerfect !important;
}