// brand colors 
$perfectSEO: #E63946;
$contentPerfect: #ffad42;
$preferencesPerfect: #99CC33;
$profilePerfect: #235789;
$classifyPerfect: #ffd900;
$imagePerfect: #EF476F;
$factcheckPerfect: #99CC33;
$redirectPerfect: #999948;
$indexPerfect: #006400;
$synopsisPerfect: #8b59ad;
$voicePerfect: #6699CC;
$pagePerfect: #666699;
$socialPerfect: #CC6699;


// localized colors
$primary: #E63946 !default;
$secondary: #333333 !default;