@use 'common' as *;

.synopsis {
  &Header {
    display: flex;
    justify-content: space-between;

    @include Desktop {
      &:hover {
        .synopsisUpdate {
          opacity: 100;
        }
      }
    }
  }

  &Update {
    padding-bottom: .5em;
    color: $primary !important;

    @include Desktop {
      opacity: 0;
    }
  }
}