@use 'common' as *;

.logo {
  &Wrap {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include TabletDown {
      padding-bottom: 2.25em;
    }

    @include Desktop {
      &:hover {
        .logoUpdate {
          opacity: 100;
        }
      }
    }
  }

  &Update {
    position: absolute;
    bottom: 0;

    @include Desktop {
      opacity: 0;
      right: 0;
    }
  }
}

.synopsis {
  &Header {
    display: flex;
    justify-content: space-between;

    @include Tablet {
      &:hover {
        .synopsisUpdate {
          opacity: 100;
        }
      }
    }
  }

  &Update {
    color: $primary !important;

    @include Tablet {
      opacity: 0;
    }
  }
}